//https://getbootstrap.com/docs/4.4/getting-started/theming/
$theme-colors: (
  "primary": #228B22,
  "success": #B2AC88,
  "danger": #C5552C,
);

@import '~bootstrap/scss/bootstrap';



.btn-success {
  color: #ffff;
}
#playgrounds-search-container{
  display: flex; 
  flex-wrap: wrap; 
  padding:5px

}
#playgrounds-map {
  flex:2;
  height: 500px;
}
#playground-search{
  align-self: center;
  max-width: 325px;
  background-color: #FCFCFA;
}
@media only screen and (min-width: 200px) and (max-width: 1023px)  {
  //Put your CSS here for 200px to 1023px width devices (cover all mobile portrait width //
  #playgrounds-search-container {
    display: flex; 
    flex-direction:column;
    padding:5px;
  }
  #playgrounds-map {
    flex:1;
    height: 350px;
  }
}